.author-links {
  & > ul {
    margin: 0;
    & > li > {
      .mail-button {
        @include clickable($text-color-1, $mail-color);
      }
      .facebook-button {
        @include clickable($text-color-1, $facebook-color);
      }
      .twitter-button {
        @include clickable($text-color-1, $twitter-color);
      }
      .weibo-button {
        @include clickable($text-color-1, $weibo-color);
      }
      .googlepluse-button {
        @include clickable($text-color-1, $google-plus-color);
      }
      .telegram-button {
        @include clickable($text-color-1, $telegram-color);
      }
      .medium-button {
        @include clickable($text-color-1, $medium-color);
      }
      .zhihu-button {
        @include clickable($text-color-1, $zhihu-color);
      }
      .douban-button {
        @include clickable($text-color-1, $douban-color);
      }
      .linkedin-button {
        @include clickable($text-color-1, $linkedin-color);
      }
      .github-button {
        @include clickable($text-color-1, $github-color);
      }
      .gitlab-button {
        @include clickable($text-color-1, $gitlab-color);
      }
      .npm-button {
        @include clickable($text-color-1, $npm-color);
      }
    }
  }
}
